.courses {
    color: #fff;
    background: rgba(232, 70, 127, 0.8);
    z-index: 99;
    width: 100%;
}

.courses__bottom {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 800px) {
    .courses__bottom {
        display: block;
    }

    .footer__text {
        width: 100%;
    }
}

.footer__text {
    margin-right: 9rem;
}

.footer__text > p {
    font-size: 12px;
    line-height: 1;
}