.mission {
    padding: 15rem 12rem 6rem 12rem;
    background: black;
    color: #fff;
}

@media screen and (max-width: 800px) {
    .mission {
        padding: 15rem 4rem 6rem 4rem;
    }       
}

@media screen and (max-width: 600px) {
    .mission {
        margin-top: 10rem;
    }       
}

@media screen and (max-width: 520px) {
    .mission {
        margin-top: 10rem;
    }       
}

@media screen and (max-width: 480px) {
    .mission {
        margin-top: 20rem;
    }       
}

@media screen and (max-width: 450px) {
    .mission {
        margin-top: 20rem;
    }       
}

@media screen and (max-width: 420px) {
    .mission {
        margin-top: 24rem;
    }       
}

@media screen and (max-width: 380px) {
    .mission {
        margin-top: 28rem;
    }       
}

@media screen and (max-width: 359px) {
    .mission {
        margin-top: 34rem;
    }       
}

.mission__content {
    padding-bottom: 2rem;
    border-bottom: 3px solid #e8467f;
}

.mission__content > p {
    text-align: center;
    line-height: 1.7;
    font-size: 18px;
    font-weight: 600;
}

.primary__text {
    color: #e8467f;
}