.gallery__body__container {
    margin-top: -4rem;
    position: relative;
    display:flex;
    flex-direction: column;
    align-items:center;
}

.gallery__row {
    display: flex;
    padding: 0 8rem;
    margin-bottom: 1rem;
}

@media screen and (max-width: 800px) {
    .gallery__row {
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .gallery__row {
        padding: 0 3rem;
    }
}

.each {
    margin-right: 1rem;
}

.each:last-child {
    margin-right: 0;
}

.gallery__footer {
    /* position: absolute; */
    /* bottom: -30rem;  */
    /* background: red; */
    top: 200rem;
}

.contact {
    width: 100px;
}